* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro Topnav', sans-serif;
}

:root {
  --greencolor: #059862;
  --lightgreencolor: #04AA6D;
  --color-primary-40: #f1f1f1;
  --color-primary-20: #000;
  --color-primary-10: #FFFFFF;
  --color-primary-30: #E7E9EB;
  --color-primary-50: #c5c4c2;
}

nav {
  display: flex;
  height: 56px;
  background-color: var(--color-primary-10);
}

nav a {
  text-decoration: none;
  color: var(--color-primary-20);
  display: inline-block;
}

nav ul li {
  margin-right: 40px;
}

header {
  display: block;
  width: 150px;
  margin: auto 0;
  text-align: center;
}

header img {
  display: block;
  margin: auto;
}

.logo {
  width: 20;
  height: auto;
}

div.list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list .list-children {
  display: flex;
  width: 115px;
  height: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.list .list-children:hover,
i:hover {
  background-color: #04AA6D;
}

.list a {
  display: inline-block;
  width: auto;
  margin: 0 !important;
  font-size: 15px !important;
  text-decoration: none;
  line-height: 1.5;
}

.wrapper {
  display: flex;
  list-style: none;
}

.input {
  display: flex;
  flex-direction: row;
}

.input>.dark-mode {
  display: flex;
  align-items: center;
  margin-left: 20px;
  border-radius: 25px;
  padding: 8px 8px;
}

.input>.dark-mode img {
  width: 20px;
  height: auto;
  transform: rotateY(180deg);
  cursor: pointer;
}

.input>.dark-mode:hover {
  background-color: var(--color-primary-40);
}

form {
  color: #555;
  display: flex;
  padding: 1px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  margin-left: 20px;
}

input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 13px;
  font-style: italic;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
  width: 120px;
}

input[type="search"]::placeholder {
  color: #bbb;
}

button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

button[type="submit"]:hover {
  opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
  outline: none;
}

.wrapper {
  display: flex;
  margin-left: 80px;
  align-items: center;
  width: 100%;
  justify-content: end;
}

.wrapper>span {
  margin-left: 20px;
}

.wrapper svg {
  position: relative;
  right: 2px;
  top: 3px;
  margin-right: 3px;
  width: 18px;
  height: 18px;
  color: #9763f6;
}

.wrapper a {
  border-radius: 25px;
  padding: 8px 16px;
}

.wrapper a:hover {
  background-color: var(--color-primary-40);
}

.buttons {
  margin-right: 10px
}

button.login {
  background-color: #d9EEE1;
  color: #282A35;
  padding-left: 35px;
}

button.signup {
  background-color: var(--lightgreencolor);
  color: white;
  position: relative;
  left: 35px;
}

.signup,
.login {
  padding: 10px 20px;
  border-radius: 20px;
  border-style: none;
}

.login:hover {
  background-color: var(--greencolor);
  color: white;
}

.main {
  max-width: 100%;
  overflow-x: hidden;
}

.main a:hover {
  background-color: var(--greencolor);
}

.main a {
  display: inline-block;
  width: auto;
  margin: 0 !important;
  padding: 5px 15px 5px 15px !important;
  font-size: 15px !important;
  text-decoration: none;
  line-height: 1.5;
  color: white;
}

section.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2em;
  color: white;
  background-color: #282A35
}

main.grid-container {
  display: grid;
  grid-template-columns: 13% auto;
  height: 100%;
  width: 100%;
  background-color: var(--color-primary-10);
}

.left-side {
  /* overflow-y: scroll; */
  padding-top: 10px;
  background-color: var(--color-primary-30);
  transition: all 0.3s;
}

.left-side a {
  padding: 5px 0;
  display: block;
  padding-left: 10px;
  text-decoration: none;
  color: var(--color-primary-20);
}

.left-side li:first-child a {
  background-color: #04AA6D;
  color: white;
}

.left-side-li a:hover {
  background-color: var(--color-primary-50);
}

.left-title {
  padding-left: 10px;
  font-weight: normal;
  color: var(--color-primary-20);
}

section.right-section {
  width: 66%;
  text-align: center;
}

.right-content h2 {
  padding: 40px;
  background-color: var(--color-primary-40);
  color: var(--color-primary-20);
  width: 100%;
  height: 150px;
  font-weight: normal;
}

section.left-section {
  display: flex;
  flex-direction: column;
}

section.left-section h2 {
  margin-left: 10px;
  margin-bottom: 20px;
}

.wr {
  text-align: left;
  background-color: var(--color-primary-10);
  padding: 16px 32px 32px 32px ;
}


.wr div,
h2 {
  color: var(--color-primary-20);
  margin: 10px 20px;
}

.wr div {
  /* margin-top: 24px; */
  text-transform: capitalize;
}

.w3-ul {
  list-style-type: none;
  margin-top: 50px;
  display: inline;
  text-decoration: underline;
}

.w3-ul li {
  margin-top: 20px;
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

.w3-ul a {
  color: var(--color-primary-20);
}

ul>svg {
  position: relative;
  right: 2px;
  top: 3px;
  margin-right: 3px;
  width: 18px;
  height: 18px;
  color: #bebac6;
}

.div-hamburger {
  margin: auto 10px;
  display: block;
  height: 1rem;
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 12px;
  position: relative;
  background: none;
  border: none;
  z-index: 10;
  transition: all 0.25s;
  display: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background: white;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* mobile-menu sytle */
.mobile-side {
  position: fixed;
  width: 200px;
  height: 100%;
  overflow-y: scroll;
  padding-top: 10px;
  background-color: var(--color-primary-30);
  transition: all 0.3s;
}

.mobile-side a {
  padding: 5px 0;
  display: block;
  padding-left: 10px;
  text-decoration: none;
  color: var(--color-primary-20);
}

.mobile-side li:first-child a {
  background-color: #04AA6D;
  color: white;
}

.mobile-side-li a:hover {
  background-color: var(--color-primary-50);
}

.mobile-title {
  padding-left: 10px;
  font-weight: normal;
  color: var(--color-primary-20);
}

.hidden {
  transform: translateX(-100%);
}

.no-scroll {
  overflow-y: hidden;
}

.mobile-side .buttons {
  margin-top: 100px;
  display: none;
}

.mobile-side button.login {
  background-color: #d9EEE1;
  color: #282A35;
  padding-left: 35px;
}

.mobile-side button.signup {
  background-color: var(--lightgreencolor);
  color: white;
  position: relative;
  left: 35px;
}

.mobile-side .signup,
.mobile-side .login {
  padding: 8px 15px;
  border-radius: 20px;
  border-style: none;
}

.mobile-side .login:hover {
  background-color: var(--greencolor);
  color: white;
}

/* here  you can find the code needed to create the responsive website*/
@media (max-width:1312px) {
  .wrapper>a:nth-child(1) {
    display: none;
  }
}

@media (max-width:1175px) {
  .wrapper>a:nth-child(2) {
    display: none;
  }

  .wrapper {
    margin-left: 0;
    justify-content: flex-end;
  }
}

@media (max-width:1110px) {
  .list>.list-children:nth-child(1) {
    display: none;
  }
}

@media (max-width:1080px) {
  main.grid-container {
    grid-template-columns: 1fr;
  }

  .left-side {
    display: none;
  }

  section.right-section {
    width: 100%;
    text-align: center;
  }

  .right-content h2 {
    margin: 0;
    font-size: 1.2rem;
  }

  .hamburger {
    display: block;
    margin-right: 20p;
  }
}

@media (max-width:1010px) {
  .list>.list-children:nth-child(2) {
    display: none;
  }
}

@media(max-width:765px) {
  .list>.list-children:nth-child(3) {
    display: none;
  }
}

@media(max-width:600px) {
  .list>.list-children:nth-child(4) {
    display: none;
  }
}

@media(max-width:492px) {
  input[type="search"] {
    width: 100px;
  }
}

@media(max-width:475px) {
  input[type="search"] {
    width: 100px;
  }

  .input>.dark-mode {
    margin-left: 10px;
  }

  .signup,
  .login {
    padding: 8px 10px;
    font-size: 12px;
  }
}

@media(max-width:442px) {
  input[type="search"] {
    width: 160px;
  }

  .wrapper {
    display: none;
  }

  .mobile-side .buttons {
    display: block;
  }

  header {
    width: 100px;
  }

  .input>.dark-mode {
    margin-left: 30px;
  }
}

@media(max-width:425px) {
  input[type="search"] {
    width: 150px;
  }

  .wrapper {
    display: none;
  }
}